*~
.svn
.git
.listing
_wpeprivate
.cache
.DS_Store
.gitattributes
.gitexcludes
.htaccess
robots.txt

# wordpress core files
apple-touch-icon-precomposed.png
apple-touch-icon.png
db-config.php
favicon.ico
index.php
license.txt
readme.html
robots.txt
wp-activate.php
wp-admin
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wpcom-meta.php
wp-config-sample.php
xmlrpc.php
wp-admin

wp-content/mu-plugins
wp-content/uploads
wp-content/upgrade
wp-content/advanced-cache.php
wp-content/index.php
wp-content/object-cache.php


# these should be removed later
wp-content/backup.zip
wp-content/mysql.sql


# WordPress debugging files
log.txt
debug.log

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz