.ad-unit.tag-page {
  display: block;
}

.all-stories {
  margin-bottom: 30px;
  #blog-load-posts, #tag-load-posts {
    height: 0px;
    margin: 0;
    border: 0;
    overflow: hidden;
  }
  h1 {
    color: #4a4a4a;
    font-size: 25px;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .wrapper {
    margin: auto;
    @media (min-width: 992px) and (max-width: 1200px) {
      width: 970px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 750px;
    }
  }

  .post-list {
    margin-bottom: 10px;
    margin-left: 0;
    li {
      list-style-type: none;
    }
    .post {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      @media (min-width: 768px) {
        padding-right: 15px;
      }
      .wrapp {
        overflow: hidden;
      }
      img {
        width: 100%;
      }
      .post-wrapper {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        display: -webkit-flex;
        @media (min-width: 768px) {
          padding-right: 0;
        }
        .filter-display-wrapper {
          right: 15px;
        }
      }
      .large-card {
        @media (max-width: 767px) and (max-device-width: 767px) {
          &:hover {
            div.gradient-wrapper {
              outline: 0;
              border: 1px solid #25abe2;
            }
          }
        }
        div.gradient-wrapper {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 375px;
          @media (max-width: 767px) {
            height: 340px;
          }
          &:hover {
            .gradient_animation {
              height: 100%;
              opacity: 1;
              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, 0.32)), color-stop(100%, rgba(0, 0, 0, 0.7)));
              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
              background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
              background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
            }
            .final_gradient {
              height: 100%;
              position: absolute;
              width: 100%;
              opacity: 0.45;
              background: #000000;
            }
          }
        }
        .gradient_animation {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 60%;
          opacity: 1;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(55%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 1)));
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 1) 100%);
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 1) 100%);
          background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 1) 100%);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
          a {
            display: block;
            height: 100%;
          }
        }
        .red-box-category {
          @media (min-width: 768px) {
            max-width: 395px;
          }
          @media (min-width: 992px) {
            max-width: 266px;
          }
          @media (min-width: 1200px) {
            max-width: 366px;
          }
        }
        .final_gradient {
          opacity: 0;
          a {
            display: block;
            height: 100%;
          }
        }
        .story-type {
          padding-bottom: 10px;
          a {
            font-size: 15px;
            font-weight: 300;
            line-height: 18px;
            text-transform: uppercase;
          }
        }
        .title {
          padding-bottom: 7px;
          width: 95%;
          overflow: hidden;
          @media (min-width: 992px) {
            max-height: 245px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            max-height: 261px;
          }
          @media (max-width: 767px) {
            height: 44px;
          }
          a {
            font-family: 'Roboto Slab';
            font-size: 35px;
            font-weight: 700;
            line-height: 40px;
          }
        }
        .about-post {
          position: absolute;
          left: 0;
          bottom: 12px;
          width: 100%;
          .sponsored-title-tag {
            color: #fff;
            font-style: italic;
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 5px;
            padding-left: 15px;
            display: inline-block;
          }
          .story-type,
          .title {
            margin-bottom: 0;
            word-wrap: break-word;
            a {
              padding-left: 15px;
              display: block;
              color: #fff;
            }
          }
        }
        .publish-date {
          margin: 0;
          padding-top: 10px;
          a {
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;
            display: block;
            line-height: 14px;
            padding-left: 21px;
          }
        }
        .img-wrapper {
          @media (max-width: 767px) {
            height: 230px;
            overflow: hidden;
          }
          img {
            min-width: 399px;
            @media (min-width: 768px) and (max-width: 991px) {
              min-width: 320px;
            }
            @media (max-width: 767px) {
              min-width: 192px;
            }
          }
        }

      }
      .small-card {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        @media (max-width: 767px) and (max-device-width: 767px) {
          &:hover {
            .wrapp {
              outline: 0;
              border: 1px solid #25abe2;
            }
          }
        }
        .red-box-category {
          max-width: 100%;
          @media (min-width: 768px) {
            max-width: 175px;
          }
          @media (min-width: 992px) {
            max-width: 110px
          }
          @media (min-width: 1200px) {
            max-width: 160px;
          }
        }
        .publish-date {
          height: 10px;
        }
        .img-wrapper {
          @media (max-width: 767px) {
            height: 230px;
            overflow: hidden;
          }
          img {
            height: 187px;
            min-width: 192px;
            @media (max-width: 1200px) {
              height: 147px;
            }
            @media (max-width: 767px) {
              height: auto;
            }
          }
        }
        .about-post {
          padding: 14px 9px;
          @media (max-width: 1200px) {
            padding: 14px 9px 34px;
          }
          @media (max-width: 767px) {
            padding-left: 15px;
          }
          .story-type a {
            color: #666;
            font-size: 13px;
            font-weight: 400;
            line-height: 15px;
            text-transform: uppercase;
          }
          .sponsored-title-tag {
            color: #666;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            font-style: italic;
            display: inline-block;
          }
          .title {
            line-height: 18px;
            word-wrap: break-word;
            overflow: hidden;
            @media (min-width: 1200px) {
              height: 123px;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
              height: 144px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              height: 119px;
            }
            @media (max-width: 767px) {
              height: 44px;
            }
            a {
              color: #4a4a4a;
              font-family: 'Roboto Slab';
              font-weight: 700;
              line-height: 18px;
              font-size: 18px;
            }
          }
          .publish-date a {
            color: #9b9b9b;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-transform: uppercase;
            margin-bottom: 0;
            position: absolute;
            bottom: 12px;
          }
        }
        .wrapp {
          background-color: #FFF;
          position: relative;
          height: 375px;
          @media (min-width: 768px) and (max-width: 991px) {
            min-height: 200px;
          }
          @media (max-width: 767px) {
            width: 100%;
            height: 340px;
          }
          .story-link {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
          &:hover {
            .about-post {
              .title {
                a {
                  color: #9B9B9B;
                }
              }
            }
          }
        }
      }
      .red-box-category {
        position: relative;
        p {
          width: 100%;
          margin-top: 3px;
          > a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .dies {
          padding-right: 10px;
          font-size: 18px;
        }
        span.cat_name {
          margin-bottom: 3px;
        }
        .videoblock {
          padding: 4px 7px;
          .fa-video-camera {
            margin-left: 2px;
          }
        }
        &.is-videoblock {
          padding-right: 30px;
          > a {
            position: absolute;
          }
        }
      }
    }

  }
  .fa.more-button-spinner {
    position: absolute;
    margin-top: -27px;
    margin-left: 45px;
    display: none;
  }
  .mozilla .fa.more-button-spinner {
    position: absolute;
    margin-top: -26px;
    margin-left: 25px;
    display: none;
  }
  .loading {
    .fa.more-button-spinner {
      display: inline-block;
      color: rgb(51, 51, 51);
    }
    &:hover .fa.more-button-spinner {
      color: white;
    }
  }
  .sidebar-wrapper {
    margin-top: 0;
    overflow: hidden;
    @media (max-width: 991px) {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
  }
}

#footer.non-visible {
  height: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#blog-load-posts, #tag-load-posts {
  text-align: center;
  margin: 31px 5px 0 15px;
  @media (max-width: 991px) {
    margin-right: 0;
  }
  border: 1px solid #ccc;
  background-color: #FFF;
  width: 100%;
  a {
    text-transform: uppercase;
    display: block;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    background-color: #4A4A4A;
    a {
      color: #FFF;
    }
  }
}
.all-stories.tags .post-list .post .small-card .about-post .title {
  @media (min-width: 1200px) {
    height: 123px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    height: 144px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    height: 113px;
  }
  @media (max-width: 767px) {
    height: 44px;
  }
}
/*******************************/
/*******************************/
/***********SIDEBAR*************/
/*******************************/
/*******************************/
.aside {

}

#makeblog {
  .sidebar-wrapper {
    .trending-topics {
      margin-bottom: 50px;
      h3.widget-title {
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        padding: 14px 0 14px 55px;
        margin-top: 30px;
        background: #f40b0b url("../img/tag_label.png") no-repeat 14px center;
      }
      .menu-blogpage-sidebar-menu-container {
        background-color: #FFF;
        border: 1px solid #e3e3e3;
        border-top: none;
        .menu {
          padding: 3px 0 24px 0;
          margin: 0 0 0 17px;
          .menu-item {
            list-style-type: none;
            margin: 14px 17px 0 0;
            padding: 4px 0 5px;
            display: inline-block;
            background-color: #f40b0b;
            a {
              text-transform: uppercase;
              padding: 0 12px;
              color: #f9f9f9;
              font-size: 11px;
              font-weight: 700;
              line-height: 13px;
              &:before {
                content: '# ';
              }
              &:hover {
                color: #CECECE;
              }
            }
          }
        }
      }
    }
    .middle-ads {
      margin-top: 30px;
    }
    ul li {
      list-style-type: none;
    }
    .posts-feeds-wrapper {
      margin-bottom: 50px;
      .feed-title {
        padding: 11px 0 11px 14px;
        background-color: #f40b0b;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        .full-feed-title-link {
          display: block;
        }
        .feed-icon {
          padding-right: 13px;
          font-size: 25px;
          font-weight: 400;
          line-height: 25px;
          vertical-align: middle;
        }
        a {
          color: #FFF;
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
        }
      }
      .all-projects-title {
        font-size: 12px;
        font-weight: 700;
        padding: 0 0 11px 22px;
        margin-top: 10px;
        a {
          color: #4A4A4A;
          &:hover {
            color: #9B9B9B;
          }
        }
      }
    }
    .posts-feeds {
      margin: 0;
      background-color: #FFF;
      border: 1px solid #e3e3e3;
      border-top: none;
      .post-feed {
        border-bottom: 1px solid #e3e3e3;
        padding: 15px 15px 10px 10px;
        overflow: hidden;
        position: relative;
        .full-link {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .title {
          margin-left: 13px;
          font-size: 15px;
          font-weight: 500;
          line-height: 26px;
          .p-title {
            margin-left: 92px;
            font-size: 15px;
          }
          img {
            float: left;
            margin-right: 13px;
          }
        }
      }
    }
  }
}

.all-stories .load-more-posts.ie .fa.more-button-spinner {
  margin-left: 300px;
}

@media (max-width: 767px) {
  .all-stories {
    .trending-topics,
    .posts-feeds-wrapper {
      display: none;
    }
    .textwidget {
      text-align: center;
    }
    .post-list {
      .post {
        .large-card {
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          div.gradient-wrapper {
            overflow: hidden;
            width: 100%;
            background-color: #FFF;
            position: relative;
            &:hover {
              cursor: pointer;
              .wrapp {
                .about-post {
                  .title {
                    a {
                      color: #9B9B9B;
                    }
                  }
                }
              }
            }
            .gradient_animation {
              display: none;
            }
            .final_gradient {
              display: none;
            }
            .wrapp {
              .story-link {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
              }
              .about-post {
                position: initial;
                padding: 14px 9px 34px;
                padding-left: 15px;
                .sponsored-title-tag {
                  color: #666;
                  font-size: 13px;
                  padding-left: 0;
                  display: inline-block;
                  margin-bottom: 0;
                }
                .title {
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  line-height: 18px;
                  a {
                    display: initial;
                    color: #4a4a4a;
                    line-height: 18px;
                    font-size: 18px;
                    padding: 0;
                  }
                }
                .publish-date {
                  padding: 0;
                  height: 10px;
                  a {
                    color: #9b9b9b;
                    font-weight: 400;
                    position: absolute;
                    bottom: 12px;
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .publish-date,
  .story-type {
    margin: 0;
  }
}

.ad-unit.adds {
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .all-stories .post-list .post {
    .small-card {
      .about-post {
        padding: 10px 15px;
        .sponsored-title-tag {

        }
        .title {
          a {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
      .img-wrapper {
        img {
          height: 200px;
        }
      }
      .filter-display-wrapper {
        top: 15px;
        left: 15px;
        .red-box-category {
          overflow: inherit;
          margin-right: 0;
          p {
            a {
              width: 100%;
              display: block;
              font-size: 11px;
              color: #FFF;
            }
          }
        }
      }
    }

    .large-card {
      .title {
        a {
          font-size: 35px;
          font-weight: 700;
          line-height: 40px;
          padding: 0 12px;
        }
      }
      .publish-date {
        a {
          padding-left: 15px;
        }
      }
      .filter-display-wrapper {
        top: 15px;
        left: 15px;
        .red-box-category {
          overflow: inherit;
          margin-right: 0;
          p {
            a {
              width: 100%;
              display: block;
              font-size: 11px;
              color: #FFF;
            }
          }
          .videoblock {
            position: absolute;
            left: 100%;
          }
        }
      }
    }
  }
}

.infinity-row {
  margin: 0;
  clear: both;
}

.tags .sumome-share-client-wrapper.sumome-share-client-wrapper-left.sumome-share-client-counts.sumome-share-client-light.sumome-share-client-medium {
  display: none;
}

.tags {
  .filter-display-wrapper {
    display: none;
  }
}

.make_ad {
  text-align: center;
}

.all-stories {
  #ad_300x600_1 {
    @media (max-width: 767px) {
      display: none;
    }
  }
  .ad-refresh .js-ad.add_sticky {
    position: fixed;
    z-index: 2;
  }
  #ad_728x90x970x90x320x50_3 {
    margin-left: -70px;
  }
}

.ad-refresh .js-ad.add_sticky {
  top: 22px;
}

.admin_is_login .ad-refresh .js-ad.add_sticky {
  top: 54px;
  @media (min-width: 768px) and (max-width: 782px) {
    top:68px;
  }
}

#ad_300x600_1.add_static_position {
  position: fixed;
}

.small-card .wrapp,
.large-card .gradient-wrapper {
  -webkit-transition: all .15s cubic-bezier(.33, .66, .66, 1);
  transition: all .15s cubic-bezier(.33, .66, .66, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  &:hover {
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}