* {
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12px;
}


.navbar-default {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  background-color: #ffffff !important;
  border: none !important;
}
.logo-text a:hover{
	background:none !important;
}
.navbar-collapse {
  padding-top: 25px;
}
.navbar-toggle.collapsed {
  margin-top: 20px;
  margin-bottom: 0;
}

.mz-logo {
	padding-top: 10px;
	padding-left: 15px !important;
}
.page-banner {
	margin: 0;
	padding: 0;
	height: 40px;
}
.stand-out {
	margin-left: 6px;
	margin-right: 6px;
}
.red {
	color: #ff0000;
}
.mz-tag {
	padding-top: 1px;
	padding-left: 15px !important;
	margin-top: 0;
	margin-bottom: 0;
	width: 140px;
}
.align-nav-icons {
	margin-top: 45px;
	margin-bottom: 3px;
}
.mz-search {
	margin-top: 45px;
	margin-bottom: 3px;
}
.mz-social {
	margin-top: 43px !important;
	margin-bottom: 0px !important;
	margin-left: 0;
	padding-left: 0;
}
.social-button {
	padding: 0;
}
.panel.header {
	background-color: #ffffff;
	padding: 0;
}
.make-border {
	border-width: 1px;
	border-style: outset;
	border-color: #bbbbbb;
}