@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: @lt-gray;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.navbar-default {
  background-color: @white;
  margin: 0;
  border: 0;
  padding: 0;
}

.navbar-toggle { 
  margin-top: 10px;
  margin-bottom: 0;
}

// .row {
//   margin-top: 10px;
// }

.mz-logo {
  padding-top: 5px;
  padding-left: 10px;
}

.page-banner {
  margin: 0;
  padding: 0;
  height: 40px;
}

.stand-out {
  margin-left: 6px;
  margin-right: 6px;
}

.red {
  color: @red;
}

.mz-tag {
  padding-top: 1px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.align-nav-icons {
  margin-top: 30px;
  margin-bottom: 3px;  
}

.mz-search {
  .align-nav-icons
}

.mz-social {
  .align-nav-icons;
  margin-left: 0;
  padding-left: 0;
}

.social-button {
  padding: 0;
}

.panel {
  background-color: @white;
  padding: 0;
}

.make-border {
  border-width: 1px;
  border-style: outset;
  border-color: @shadow;
}


