#makeblog .mz-story-infinite-view .container.wrapper {
  .essb_right_flag {
    margin: 10px 0;
    height: 1px;
    bottom: 0;
    position: absolute;
  }
  .content {
    .ctx-social-widget {
      margin: 0 10px !important;
      border-width: 2px 0 0 0 !important;
      border-color: #979797;
    }
    #ctx-module {
      padding: 0 10px;
      .ctx-content-block2 {
        margin: 52px 0 5px 0 !important;
        .ctx-sections-container {
          border-bottom: 0 !important;
          .ctx-section {
            border-width: 2px 0 0 0 !important;
            border-color: #979797;
            .ctx-links-header {
              .ctx-nodefs {
                text-align: left !important;
                color: #333;
                font-size: 18px;
                font-weight: 500 !important;
                line-height: 21px !important;
              }
            }
            .ctx-links-content {
              padding: 0 13px !important;
              .ctx-link {
                margin: 0 8px !important;
                width: 206px !important;
                max-width: 300px !important;
                @media (max-width: 991px) {
                  margin-right: 27px !important;
                }
                @media (max-width: 767px) {
                  display: block !important;
                  width: 250px !important;
                  margin: 0 auto 13px !important;
                  div.ctx-link-image {
                    height: 125px;
                    img {
                      width: 250px;
                    }
                  }
                }
                .ctx-link-image {
                  height: 130px;
                  overflow: hidden;
                  img {
                    width: 217px;
                  }
                }
                .ctx-link-title {
                  .ctx-nodefs {
                    color: black;
                    font-family: "Roboto Slab";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px !important;
                  }
                }
              }
              .ctx-5,
              .ctx-6 {
                display: none !important;
              }
              @media (max-width: 991px) {
                .ctx-4 {
                  display: none !important;
                }
                .ctx-3 {
                  margin-right: 8px !important;
                }
              }
              @media (max-width: 767px) {
                .ctx-4 {
                  display: block !important;
                }
                .ctx-3 {
                  margin-right: auto !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
