@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_bold';
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_light';
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body.post-type-archive-projects,
body.page-template-project {
  background-color: rgb(241, 241, 241);
}

.projects-cat, .all-projects {
  .content {
    border: none;
    max-width: 1200px;
    margin: 0 auto;
    background: #f7f7f7;
    padding: 0;
    .project-navigation {
      background-color: #f7f7f7;
      margin-top: 25px;
    }
    .cat-list-wrapp {
      overflow: hidden;
      position: relative;
    }
    .cat-list-wrapp,
    .cat-list-wrapp .title-wrapp,
    .cat-list-wrapp .cat-nav-wrapp {
      min-height: 100px;
    }
    .title-wrapp,
    .cat-nav-wrapp {
      width: 50%;
    }
    .title-wrapp {
      float: left;
      margin-left: 25px;
      .breadcrump {
        position: absolute;
        top: 40%;
        a {
          color: #8f8e8e;
          font-family: Roboto;
          font-size: 13px;
          font-weight: 400;
          line-height: 15px;
          text-transform: uppercase;
        }
      }
    }
    .cat-nav-wrapp {
      float: right;
      max-width: 500px;
      margin: 7px 0;
      padding-left: 35px;
      border-left: 1px solid #979797;
      .cat_list {
        padding: 10px 70px 10px 0;
        li {
          display: inline-block;
          vertical-align: top;
          width: 32%;
          a {
            color: #4a4a4a;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .title-wrapp h1 {
      color: #4a4a4a;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      position: absolute;
      bottom: 5px;
    }
  }
  li {
    list-style-type: none;
  }
  .filter-list {
    clear: both;
    position: relative;
    background-color: #FFF;
  }
  .filter-item {
    overflow: hidden;
    max-height: 45px;
    > ul {
      margin: 12px 0 15px 25px;
      float: left;
      width: 75%;
    }
    .post-filter {
      float: right;
      width: 20%;
      text-align: right;
      margin-right: 20px;
      line-height: 48px;
      p {
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        line-height: 12px;
        color: #b2b2b2;
        font-size: 14px;
        &:last-child {
          border-left: 1px solid #000;
        }
      }
      .current {
        font-weight: 700;
        color: #000;
      }
    }
    ul li p {
      color: black;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      float: left;
      margin: 0 15px 0 0;
      text-transform: uppercase;
    }
    .diff-item,
    .duration-item {
      li {
        display: inline-block;
        span {
          color: #b2b2b2;
        }
        .tooltips:hover:before {
          content: attr(data-title);
          white-space: pre-line;
          position: absolute;
          bottom: 0;
          left: 50%;
          z-index: 999;
          width: 230px;
          margin-left: -127px;
          padding: 10px;
          border: 2px solid #ccc;
          opacity: .9;
          font-size: 12px;
        }
      }
    }
    .difficulty {
      width: 190px;
      float: left;
      margin-right: 15px;
    }

    ul li.difficulty span {
      width: 20px;
      height: 23px;
      display: inline-block;
      color: #b2b2b2;
      font-size: 23px;
    }
    ul li.duration span {
      width: 20px;
      height: 23px;
      display: inline-block;
      color: #b2b2b2;
      font-size: 23px;
    }
  }
  .filter-item ul li.difficulty span.diff-hover {
    color: #000;
  }
  .filter-item ul li.duration span.dur-hover {
    color: red;
  }
  .posts-list {
    margin-top: 2px;
    .selected-posts-list {
      margin: 0;
      padding-bottom: 66px;
    }
    ul.selected-posts-list > li,
    ul.selected-posts-list > div li {
      position: relative;
      display: inline-block;
      max-width: 370px;
      width: 30.8%;
      margin: 15px 1%;
      vertical-align: top;
      background-color: #000;
      border: 1px solid #ccc;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      > p {
        position: absolute;
        left: 15px;
        max-width: 340px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #FFF;
        display: none;
        a {
          color: #FFF;
        }
      }
      a img {
        max-width: 370px;
        width: 100%;
        height: auto;
        height: 240px;
      }
      .red-box-category {
        background-color: #f40b0b;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        height: 30px;
        &:hover {
          p a {
            color: #CECECE;
          }
        }
        p {
          color: #f9f9f9;
          font-family: Roboto;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;
          float: left;
          margin: 3px 0 0 0;
          padding: 2px 10px 2px 10px;
          a {
            color: #f9f9f9;
            font-size: 12px;
            font-weight: 400;
          }
        }
        .videoblock {
          float: right;
          background-color: #FFF;
          padding: 6px 10px;
          .fa {
            color: #4a4a4a;
            font-size: 14px;
          }
        }
        p .fa {
          color: #FFF;
          padding-right: 5px;
        }
      }
      .filter-display-wrapper {
        position: absolute;
        top: 13px;
        left: 14px;
      }
      .difficulty-lvl,
      .duration-lvl {
        display: none;
        span {
          font-size: 17px;
          color: #FFF;
        }
      }
      .difficulty-lvl {
        padding-right: 5px;
        border-right: 1px solid #FFF;
      }
      .duration-lvl {
        padding-left: 2px;
      }
      h2 {
        background-color: #FFF;
        padding: 15px 0 0 15px;
        min-height: 60px;
        a {
          color: #4a4a4a;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          display: block;
        }
      }
      &:hover {
        > p {
          display: block;
        }
      }
    }

    ul.selected-posts-list li.ads {
      width: 97.5%;
      background-color: #FFF;
      display: block;
      max-width: 100%;
      overflow: hidden;
    }
  }
}
li.post p.trans {
  top: 145px;
  -webkit-transition: all 2s ease-out 0.5s;
  -moz-transition: all 2s ease-out 0.5s;
  -o-transition: all 2s ease-out 0.5s;
  transition: all 2s ease-out 0.5s;
}
li.post:hover p.trans {
  top: 80px;
}

.projects-cat .posts-list ul.selected-posts-list > li.post:hover,
.projects-cat .posts-list ul.selected-posts-list > div li.post:hover,
.all-projects .posts-list ul.selected-posts-list > li.post:hover,
.all-projects .posts-list ul.selected-posts-list > div li.post:hover{
  border: 1px solid #adabab;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  a img {
    opacity: 0.2;
  }
  .difficulty-lvl,
  .duration-lvl {
    display: inline-block;
  }

}

.projects-cat .posts-list ul.selected-posts-list > li .ads-wrapper .span2.shed a img,
.projects-cat .posts-list ul.selected-posts-list > div li .ads-wrapper .span2.shed a img,
.all-projects .posts-list ul.selected-posts-list > li .ads-wrapper .span2.shed a img,
.all-projects .posts-list ul.selected-posts-list > div li .ads-wrapper .span2.shed a img {
  width: 218px;
  height: 146px!important;
  min-height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.projects-cat .posts-list ul.selected-posts-list > li.first-use .ads-wrapper .span2.shed a img,
.projects-cat .posts-list ul.selected-posts-list > div li.first-use .ads-wrapper .span2.shed a img,
.all-projects .posts-list ul.selected-posts-list > li.first-use .ads-wrapper .span2.shed a img,
.all-projects .posts-list ul.selected-posts-list > div li.first-use .ads-wrapper .span2.shed a img {
  width: 150px;
  height: auto;
  max-height: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.own {
  position: absolute;
  right: 15px;
  z-index: 116;
  width: 300px;
  top: 10px;
}
.home-ads {
  overflow: hidden;
}
.ads.temp {
  padding-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  .own {
    display: none;
  }
  a {
    line-height: 30px;
    font-family: Roboto;
    text-decoration: none;
  }
  h4 a {
    color: #9b9b9b;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
  }
  h5 a {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 900;
  }
  h4,
  h5 {
    text-align: center;
    min-height: 35px;
  }
  .ads-wrapper {
    float: left;
    .span2.shed {
      width: 270px;
    }
  }
}
.ads.temp.first-use {
  .ads-wrapper {
    max-width: 870px;
    float: left;
    .span2.shed {
      width: 150px;
      margin: 0 30px;
    }
  }
  .own {
    display: block;
  }
}
.look_like_h3 {
  min-height: 58px;
}
.ads-wrapper h2.look_like_h3 a {
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  span {
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-transform: initial;
  }
  .official_store {
    padding: 0 60px 0 20px;
  }
  .fa-external-link {
    padding-left: 15px;
  }
  .find_more_ms,
  .official_store {
    font-family: Roboto;
  }
}
.fa.fa-chevron-up, .fa.fa-chevron-down {
  display: none;
}

.clear {
  display: none;
}

.projects-cat .content .project-navigation.sticky, .all-projects .content .project-navigation.sticky {
  position: fixed;
  top: 0px;
  z-index: 101;
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  .cat-list-wrapp {
    display: none;
  }
  .filter-list {
    .fa.fa-chevron-up, .fa.fa-chevron-down {
      position: absolute;
      top: 30%;
      left: 11px;
    }
    .filter-item > ul {
      margin-left: 50px;
    }
    .clear {
      display: inline-block;
      float: left;
      position: absolute;
      text-transform: uppercase;
      top: 13px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
    .filter-item {
      position: relative;
      > ul {
        width: 35%;
      }
    }
  }
}

#pbd-alp-load-posts {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #FFF;
  a {
    text-transform: uppercase;
    display: block;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    background-color: #4A4A4A;
    a {
      color: #FFF;
    }
  }
}
.error_message {
  background-color: transparent;
  border: none;
  margin: 15px 0 0 25px;
  p {
    color: #000;
    font-size: 27px;
    font-family: Roboto;
    font-weight: 300;
  }
  span {
    color: #000;
    font-size: 19px;
    font-family: Roboto;
    font-weight: 300;
  }
}