.make_ad {
	text-align: center;
}
.row.post_rows .own_ads {
	background-color: transparent;
	box-shadow: none !important;
	.own {
		box-shadow: 0 6px 6px -7px rgba(0, 0, 0, 1), 0 -6px 6px -7px rgba(0, 0, 0, 1);
	}
}
.row.post_rows > .js-ad {
	margin-top: 15px;
}
