.home-ads {
  margin-top:15px;
}

.home-ads.bottom {
  margin-bottom:15px;
}

.home-ads:last-child {
  margin-top: 22px;
}

.make_ad {
	text-align: center;
}
.row.post_rows .own_ads {
	background-color: transparent;
	box-shadow: none !important;
	.own {
		box-shadow: 0 6px 6px -7px rgba(0, 0, 0, 1), 0 -6px 6px -7px rgba(0, 0, 0, 1);
	}
}
.row.post_rows > .js-ad {
	margin-top: 15px;
}

// Top Banner Ad
#div-gpt-ad-664089004995786621-1 {
  margin-top:25px;
  margin-bottom:15px;
  text-align:center;
}
#div-gpt-ad-664089004995786621-6 {
  text-align:center;
}
#div-gpt-ad-664089004995786621-4 {
  text-align:center;
}

// #div-gpt-ad-664089004995786621-6 {
//  margin:auto;
//}

// Size minimum for dfp ads

// .div-gpt-ad-664089004995786621-1  {min-height:90px;}
// .div-gpt-ad-664089004995786621-2  {min-height:250px;}
// .div-gpt-ad-664089004995786621-3  {min-height:250px;}
// .div-gpt-ad-664089004995786621-4  {min-height:90px;}
// .div-gpt-ad-664089004995786621-5  {min-height:96px;}
// .div-gpt-ad-664089004995786621-6  {min-height:37px;}
// .div-gpt-ad-664089004995786621-7  {min-height:125px;}
// .div-gpt-ad-664089004995786621-9  {min-height:250px;}

.canvas-ad {
  // height: 547px;
  // margin-bottom: -547px;
  // top: 0px;
  // left: 50%;
  // margin-left: -1080px;
  // position: relative;
  // z-index: 1;
  display: none;
}