// Modern Tribe Events Calendar Plugin

// Full page calendar view
body.post-type-archive-tribe_events {
  background-color: #fff;
  .single {
    padding-bottom: 30px;
  }

  #tribe-bar-form .tribe-bar-submit input[type=submit] {
    font-weight: 400;
    line-height: 1em;
    border: none;
    background-color: #f40b0b;
    color: #ffffff;
    transition: background-color 0.2s;
    &:hover, &:active, &:focus {
      color: #fff;
      background-color: #ea002a;
      transition: background-color 0.2s;
    }
  }

}

#tribe-events {
  .tribe-events-button {
    padding: 8px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1em;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #3FAFED;
    color: #ffffff;
    transition: background-color 0.2s;
    display: inline-block;
    &:hover, &:active, &:focus {
      color: #fff;
      background-color: #1490d4;
      transition: background-color 0.2s;
    }
  }
}