.new-footer {
    padding:20px 0;
    border-top: 3px solid #CBCBCB;
    .container {
        padding-bottom: 15px;
    }
    .footer_copyright {
        border-top: 3px solid #CBCBCB;
        padding-top: 20px;
        p {
            margin: 0px;
            line-height: 16px;
        }
    }
    li {
        padding:3px 0;
        a {
            color: #3FAFED;
            font-size: 18px;
        }
    }
    .footer_logo {
        width:127px;
        padding-bottom: 10px;
    }
    h4 {
        color:005D8F;
        font-size: 22px;
        padding-top: 17px;
        margin-bottom: 8px;
    }
    .stay-connected {
        margin-bottom: 14px;
    }
    .social-profile-icons {
        height: 33px;
        margin-bottom: 20px;
    }
    form input[name=email] {
        padding: 15px 8px;
        font-size: 15px;
        line-height: 1em;
        border: 2px solid #cccccc;
        width: 100%;
    }
    .btn-cyan {
        padding: 10px 8px;
        font-size: 15px;
        line-height: 1em;
        border: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #3FAFED;
        color: #ffffff;
        width: 100%;
    }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
    .social-foot-col {
        width: 50%;
        float: left;
    }
}