// deleted everything from old footer. not sure that fancybox inner is needed either
// Footer feedback modal
.fancybox-inner {
  text-align: left !important;

  .fancybox-feedback-inner {
    padding: 15px;

    h3 {
      color: #444;
      text-align: center;
    }
    input {
      font-weight: inherit;
      height: 30px;
      margin-bottom: 0;
    }
    .help-block {
      color: #999;
      margin-top: 2px;
    }
    .btn-cyan {
      color: #fff;
      line-height: .8em;
    }
  }
}
