#gg2016 {
  margin-bottom: 30px;

  .js-ad {
    margin-top: 15px;
  }
  .gg2016-header {
    margin-top: 15px;
    h1 {
      font-size: 42px;
      line-height: 1.1em;
      color: #4a4a4a;
      margin-top: 0;
      margin-bottom: 7px;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 32px;
      }
      @media screen and (max-width: 767px) {
        font-size: 8vw;
      }
    }
    h2 {
      font-size: 20px;
      line-height: 1.2em;
      color: #4a4a4a;
      margin-top: 0;
      margin-bottom: 2px;
    }
    h3 {
      font-size: 16px;
      line-height: 1.6em;
      color: #4a4a4a;
      margin-top: 0;
      margin-bottom: 0;
    }
    .gg2016-header-info {
      @media screen and (max-width: 991px) {
        margin-bottom: 25px;
      }
    }

    .gg2016-dp {
      position: relative;
      height: 400px;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      margin-left: -15px;
      margin-right: -15px;
      @media screen and (max-width: 767px) {
        height: 50vw;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
      }
      span.btn-red {
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
      }
      .gg2016-dp-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,.85) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,.85) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        h4 {
          font-size: 16px;
          margin-top: 35px;
          margin-bottom: 3px;
          font-weight: 500;
          color: #fff;
          text-shadow: 2px 2px 8px #666;
          text-transform: uppercase;
        }
        .gg2016-dp-desc {
          margin-bottom: 5px;
          font-size: 30px;
          font-weight: 300;
          line-height: 1.3em;
          color: #222;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 2.6em;
          position: relative;
        }
        .gg2016-dp-author {
          font-weight: 500;
          margin-bottom: 0;
          display: inline-block;
          margin-right: 15px;
        }
        .gg2016-dp-price {
          margin-bottom: 0;
          display: inline-block;
          margin-right: 15px;
        }
        .btn-red {
          
        }
      }
    }
  }
  
  .gg2016-nav {
    background-color: #fff;
    margin-top: 15px;
    .gg2016-nav-flex {
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (min-width: 768px) {
        display: flex;
        position: static;
        top: 0;
        left: 0;
        float: none;
        min-width: none;
        background-color: transparent;
        border: none; 
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      @media screen and (max-width: 767px) {
        padding: 5px 0;
        margin: 2px 0 0;
        justify-content: inherit;
        left: 15px;
      }
      li {
        padding: 0;
        line-height: 1em;
        a, button {
          border: none;
          padding:10px;
          font-size: 16px;
          color: #4a4a4a;
          @media screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 13px;
          }
          @media screen and (max-width: 767px) {
            font-size: inherit;
            text-align: left;
            padding: 6px 3px 6px 15px;
            width: 100%;
          }
          &:hover, &:active, &:focus {
            text-decoration: none;
            outline: 0;
            color: #222;
          }
          &.active {
            border-bottom: 3px solid #F40B0B;
            padding:10px 10px 7px;
            background-color: transparent;
            @media screen and (max-width: 767px) {
              padding: 6px 3px 6px 15px;
            }
          }
        }
        &.gg2016-li-border {
          height: 1.3em;
          width: 1px;
          background-color: #979797;
          margin-top: 11px;
          @media screen and (min-width: 768px) and (max-width: 991px) {
            height: 1em;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }
    .container {
      position: relative;
      .gg2016-dd1 {
        @media screen and (max-width: 767px) {
          position: static;
        }
        .dropdown-toggle {
          display: none;
          @media screen and (max-width: 767px) {
            color: #4a4a4a;
            display: inline-block;
            &:hover, &:active, &:focus {
              text-decoration: none;
            }
          }
        }
        .dropdown-menu:after {
          content: none;
        }
      }
      .gg2016-dd2 {
        position: absolute;
        margin-top: 22px;
        z-index: 100;
        @media screen and (min-width: 768px) and (max-width: 991px) {
          margin-top: 5px;
        }
        @media screen and (max-width: 767px) {
          right: 15px;
          top: 0;
          margin-top: 0;
        }
        button {
          color: #4a4a4a;
          border: none;
          background: transparent;
          width: 100%;
          text-align: left;
          padding-left: 15px;
          @media screen and (min-width: 768px) and (max-width: 991px) {
            &.dropdown-toggle {
              padding-left: 0;
            }
          }
          &:hover, &:active, &:focus {
            text-decoration: none;
          }
          &.active {
            border-bottom: 2px solid red;
            padding-bottom: 1px;
          }
        }
        .dropdown-menu {
          @media screen and (max-width: 767px) {
            right: 0;
            left: initial;
          }
          &:after {
            content: none;
          }
        }
      }
    }
  }

  .gg2016-body-bg {
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;

    #gg2016-sponsor-sm {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      span {
        font-size: 14px;
        color: #4a4a4a;
      }
      div {
        height: 100px;
        width: 100px;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
    }

    &.gg2016-active-to {
      padding-top: 200px;
      @media screen and (max-width: 767px) {
        padding-top: 65px;
      }
    }
  }

  .gg2016-body {
    min-height: 500px;
    padding-top: 25px;
    position: relative;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding-top: 45px;
    }
    .gg2016-review { //article
      margin-left: 14%;
      margin-right: 14%;
      margin-bottom: 50px;
      padding: 10px 15px 15px;
      display: none;
      @media screen and (max-width: 991px) {
        margin-left: -15px;
        margin-right: -15px;
      }
      .gg2016-review-flex-cont {
        display: flex;
        @media screen and (max-width: 767px) {
          display: block;
        }
      }
      &.gg2016-review-even1:nth-child(even),
      &.gg2016-review-even2 {
        .gg2016-review-img {
          order: 2;
        }
        .gg2016-review-info {
          order: 1;
          padding-right: 15px;
          padding-left: 0;
        }
      }
      &.gg2016-sponsored {
        border: 4px solid #979797;
        h5 {
          margin-top: 0;
          margin-bottom: 15px;
          text-align: center;
        }
        @media screen and (max-width: 767px) {
          border-right: none;
          border-left: none;
        }
      }
      .gg2016-review-img {
        flex: 0 0 40%;
        img {
          @media screen and (max-width: 767px) {
            width: 100%;
            height: auto;
          }
        }
      }
      .gg2016-review-info {
        flex: 0 0 60%;
        padding-left: 15px;
        @media screen and (max-width: 767px) {
          padding-left: 0;
          margin-top: 15px;
        }
        h4 {
          margin-top: 0;
          margin-bottom: 4px;
          font-size: 22px;
          color: #222;
          font-family: 'roboto slab', sans-serif;
        }
        .gg2016-review-desc {
          margin-bottom: 10px;
        }
        .gg2016-review-person {
          font-weight: 500;
        }
      }
    }

    .js-ad {
      margin-top: 0;
      margin-bottom: 50px;
      // max-width: 728px;
      // height: 90px;
      // background-color: #fff;
      margin-left: auto;
      margin-right: auto;
    }
    
  }

  #gg2016-sponsors {
    display: none;
  }

}