.themes {
	li {
		list-style-type: none;
	}
	margin-left:30px;
	margin-top:9px;
	a {
		strong {
			color:@red;
			width:160px;
			display: inline-block;
			text-align: right;
		}
		color:@link-color;
	}
}

.featured {
	height:115px;
	margin-left:30px;
	.img {
		.pull-left;
		width:125px;
	}
	.blurb {
		.pull-right;
		width: 485px;
		margin:0px;
		h3 {
			padding:0px;
		}
		p {
			padding:0px;
			small {
				margin-top:5px;
				display:block;
			}
		}
		.trending {
			color:@link-color;
			text-transform: uppercase
		}
	}
}

.home-sponsor-ad {
	margin-top: 30px;
	margin-bottom: 30px;
}

.home .span8 .carousel {
	margin-top: 30px;
}

.sub-banner {
	margin-top:8px;
	margin-bottom:20px
}

.waist-takeover {
	background-image: url( '../images/makercamp_background.jpg' );
	background-position: center;
	height:	548px;
	.container {
		padding: 20px 0;
		.span8 {
			.thumb {
				div {
					padding: 5px 0;
				}
			}
		}
		.thumb {
			background-color: #fff;
			margin-bottom: 5px;
			.thumbnail {
				border: 0px;
				padding: 0px;
			}
			div {
				padding:9px;
				p {
					margin-bottom: 0px;
				}
			}
		}
	}
}

.maker-week-takeover {
	border-top: 1px solid #005B85;
	font-family: "proxima-nova", sans-serif;
	#gradient > .vertical( #003752, #00ACEC ) !important;
	.flags {
		background-image: url('../images/flags.png') !important;
		background-position: center top;
		background-repeat: repeat-x;
	}
	.maker-week {
		width: 408px;
		margin: 10px 0px 25px 100px
	}
	.tix {
		color: #fff;
		margin-top: 40px;
		text-align: right;
		h3 {
			text-align: right;
			font-size: 18px;
			line-height: 120%;
			margin-bottom: 10px;
			font-weight:normal;
		}
	}
	.slider {
		background-color: #003752;
		.border-radius( 3px );
		.makey {
			.pull-left;
			margin-top: -60px;
		}
		h3 {
			.pull-left;
			color: #96dffa;
			font-family: "proxima-nova", sans-serif;
			font-size: 22px;
			font-weight: 400;
			margin-top: 6px;
			margin-left: 13px;
			span { font-size:28px; }
		}
		h4 {
			font-family: "proxima-nova", sans-serif;
			font-weight: 400;
			font-size: 20px;
			margin: 10px 5px;
			a {
				color: #96dffa;
			}
		}
		.caption {
			color: #5ebcf7;
		}
		.carousel-control {
			top:42px; // Set a hardcoded number as the height causes the nav buttons to jump.
			background:#00476b;
			border:1px solid #00324b;
			font-size:72px;
			width:30px;
			height:39px;
			transition:opacity .3s;
			border-radius:0;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			span {
				line-height:1.4em;
				width:auto;
				height:auto;
				background-image:none;
			}
			&.left {
				left:0px;
				border-radius:0px;
				border-top-right-radius:5px;
				border-bottom-right-radius:5px;
			}
			&.right {
				right:0px;
			}
		}
		&.thumb {
			padding: 4px;
			margin-bottom: 32px;
			color: #5ebcf7;
			font-size: 16px;
			line-height: 120%;
			img {
				margin-right: 10px;
				width:145px;
			}
			> div {
				p {
					margin-bottom:0;
					font-size:16px;
					color:#5ebcf7;
				}
			}
			h4 {
				margin: 0px;
				font-size: 18px;
			}
		}
	}
}

.Thumbnail {
	display:block;
}

.weekend-projects-home {
	.weekend-project-image {
		margin-bottom: 0px;
		position: absolute;
		margin-top: 1px;
		z-index: 1;
		margin-left: 8px;
	}
	.attachment-small-home-feature-boxes {
		margin-top: -50px;
	}
}

.home-banner {
	margin-top: 10px;
}

// Shed deal of the week

.home .new-dotw {
	margin-top:25px;
}

.home-waist-banner {margin-bottom:15px;}

.faire {
	background-color: #C8EFFF;
	background-image: inherit;
	.faire-header {
		background-image: url( ../img/faire-header.jpg );
		height: 157px;
	}
}

.ytv-canvas {
	margin: 10px 0 0 !important;
	height: 350px;
}

.spacer {
	height: 20px;
}

.faire-social {
	width: 300px;
	margin-top: 65px;
	float: right;
	.faire-social-links {
		li {
			display: inline-block;
			width: 32px;
			height: 32px;
			background-color: orange;
			margin-right: 12px;
			a {
				display: block;
				height: 32px;
				width: 32px;
			}
			&.twitter {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: -3px;
			}
			&.pinterest {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: 132px;
			}
			&.facebook {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: 85px;
			}
			&.plus {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: 37px;
			}
		}
	}
}

// Home page background image
.page-id-116357 .new-sand,
.page-id-116357 .waist .checkers {
	background-image:none !important;
}

.waist .checkers {
	.paddme {
		padding: 0px 0 10px 10px;
		position: relative;
		.caption {
			margin-top: 0;
			height: auto;
			margin-right: 0;
			margin-left: 1px;
			background-color: rgba(255, 255, 255, 0.8);
			position: absolute;
			bottom: 10px;
			width: 290px;
			margin-bottom: 1px;
		}
	}
	.paddme.small:last-child {
		padding: 0px 10px 10px 0;
	}
	.span4 .span4:last-child .paddme.small {
		padding: 12px 10px 10px 0;
	}
}

// Widen home page-break-inside: 
.home {
    .container {
        width: 970px;
    }
    .span6 {
        width: 475px;
    }
    .span8 {
        width: 650px;
    }
    .span4 {
        width: 300px;
        img {
            width: 290px;
        }
    }
    .small {
        padding: 10px 15px;
    }
    .caption {
        width: auto;
        padding-left: 10px;
    }
    .featured {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
        .blurb {
            width: 515px;
            padding-right: 10px;
        }
    }
    img.home-biggest {
        width: 320px;
    }
    .paddme {
        padding: 10px;
    }
    .paddme.small {
        padding: 10px 0 10px 15px;
        height: 188px;
        overflow: hidden;
    }
    .home-ads {
        margin-top: 10px;
    }
    .checkers {
        margin-top: 10px;
        .span4 {
            width: 320px;
            margin-left: 20px;
        }
        .span4.middle-featured {
            margin-left: 0;
            .span4 {
                width: 320px;
                margin-left: 25px;
            }
        }
    }
    .waist {
        .checkers {
            .paddme {
                padding: 0;
                .caption {
                    width: 280px;
                    margin-left: 1px;
                    margin-bottom: 0;
                    margin-top: 0;
                    bottom: 0;
                    border-bottom: 1px solid #c3c5c5;
                }
            }
            .span4.middle-featured {
                .paddme {
                    .caption {
                        width: 300px;
                        margin-left: 1px;
                        border-bottom: 1px solid #c3c5c5;
                    }
                }
            }
            .paddme.small:last-child {
                padding: 0;
            }
            .span4 {
                .span4:last-child {
                    .paddme.small {
                        padding: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .entry-content {
        padding-left: 0 !important;
        width: 268px;
        padding: 10px 0 3px 8px !important;
    }
    .entry-content:first-child {
        padding-left: 0 !important;
        width: 268px;
        padding: 10px 12px 3px 8px !important;
    }
    .span12 {
        width: 970px;
    }
    .look_like_h3_blue {
        margin-left: 0;
        width: auto;
    }
    .main-header {
        .hdr-sub-ad-01 {
            margin-top: 10px;
        }
        .additional-content {
            right: 0;
        }
    }
    .new-grid {
        width: 605px;
        margin-left: 5px;
    }
    .small-youtube {
        padding: 15px 0;
    }
    .new-sand {
        .span8 {
            width: 650px;
            margin-left: 20px;
        }
        .span4.posts {
            width: 300px;
            margin-left: 20px;
        }
        .span4 {
            width: 305px;
            margin-left: 25px;
        }
    }
    .sand {
        h3.red {
            margin-left: 10px;
        }
    }
    .span4.middle-featured {
        img {
            width: 310px;
        }
    }
    .row-fluid {
        .span12 {
            width: 100%;
        }
    }
    .seeall {
        margin-right: 15px;
    }
    img.weekend-project-image {
        width: 138px;
        height: 49px;
    }
    .footer-ad {
        .ad-slot {
            width: 0;
            margin: 0 auto;
        }
    }
}
.home-waist-banner {
    width: 970px;
    margin-left: 20px;
    text-align: center;
}
