.home-sponsor-ad {
	margin-top: 30px;
	margin-bottom: 30px;
}

.home .col-md-8 .carousel {
	margin-top: 30px;
}

.sub-banner {
	margin-top:8px;
	margin-bottom:20px
}

.leaderboard {
	margin:10px 0 0 0;
}

.weekend-projects-home {
	.weekend-project-image {
		display: none;
		margin-bottom: 0px;
		position: absolute;
		margin-top: 1px;
		z-index: 1;
		margin-left: 8px;
	}
	.attachment-small-home-feature-boxes {
		margin-top: 0px;
	}
}

.home-banner {
	margin-top: 10px;
}

// Shed deal of the week
.home .new-dotw {
	margin-top:25px;
}

.faire {
	background-color: #C8EFFF;
	background-image: inherit;
	.faire-header {
		background-image: url( ../img/faire-header.jpg );
		height: 157px;
	}
}

.ytv-canvas {
	margin: 10px 0 0 !important;
	height: 350px;
}

.spacer {
	height: 20px;
}

.faire-social {
	width: 300px;
	margin-top: 65px;
	float: right;
	.faire-social-links {
		li {
			display: inline-block;
			width: 32px;
			height: 32px;
			background-color: orange;
			margin-right: 12px;
			a {
				display: block;
				height: 32px;
				width: 32px;
			}
			&.twitter {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: -3px;
			}
			&.pinterest {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: 132px;
			}
			&.facebook {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: 85px;
			}
			&.plus {
				background-image: url( '../img/faire-social-images.jpg' );
				background-position: 37px;
			}
		}
	}
}

.home-featured-stories {
  padding-left: 15px;
  padding-right: 15px;
  .col-lg-4 {
    .mz-featured-imageblock {
      margin-left: 2px;
    }
    .mz-featured-imageblock-top {
      margin-bottom: 2px;
    }
  }
  .mz-featured-imageblock {
    position: relative;
    display: block;
    border: none;
    height: 224px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: 768px) {
      &.mz-imageblock-hero {
        height: 450px;
      }
    }
    /* large screen / retina display */
    @media only screen and (min-width : 1700px) {
      height: 349px;
      &.mz-imageblock-hero {
        height: 700px;
      }
    } 
    h2 {
      font-weight: 200;
      font-size: 40px;
      color: #fff;
    }
    p {
      font-weight: 300;
      font-size: 18px;
      color: #f9f9f9;
    }
    .featured-image-shadow {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 45%, rgba(0,0,0,0.7) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(45%,rgba(0,0,0,0.32)), color-stop(100%,rgba(0,0,0,0.7)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
      transition: all 0.5s ease;
    }
    &:hover .featured-image-shadow {
      height: 90%;
      transition: all 0.5s ease;
    }
    .mz-text-overlay {
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 15px;
      color: #fff;
      .sponsored-title-home {
        color: #fff;
        font-size: 18px;
        line-height: 1em;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    .mz-text-overlay-side {
      .sponsored-title-home {
        color: #fff;
        font-size: 14px;
        line-height: 1em;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
      }
      h2 {
        font-weight: 300;
        font-size: 20px;
        color: #f9f9f9;
      }
    }
    .live-now-alert {
      top: 20px;
      right: 30px;
      position: absolute;
      color: #fff;
      text-shadow: 1px 1px 1px black;
      i {
        color: #f40b0b;
      }
    }
  }
  @media (max-width: 767px) {
    .col-xs-12 {
      .mz-featured-imageblock {
        margin-left: 0;
        margin-bottom: 1px;
        .mz-text-overlay .sponsored-title-home {
          font-size: 14px;
        }
        h2 {
          font-size: 18px;
          font-weight: 300;
        }
        p {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
}

// 3 info panels, home page
.event-unit {
  margin-top: 30px;
  margin-bottom: 30px;
  #event-camp,
  #event-faire, 
  #event-sponsored {
    padding: 1px;
    a:hover img {
      box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
    }
  }
}


.home-event-info-3x {
  display: flex;
  align-content: stretch;
  margin-top: 15px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
  .home-event-1x {
    width: 33.333%;
    margin-right: 2px;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 30px;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      &:last-child {
        margin-bottom: 0;
        margin-right: auto;
      }
    }
    @media (min-width: 767px) and (max-width: 991px) {
      flex-basis: ~"calc(50% - 4px)";
      margin-left: auto;
      margin-right: auto;
      &:last-child {
        margin-top: 2px;
        margin-right: auto;
      }
    }
    a {
      display: block;
      height: 110px;
      border-top: 2px;
      color: #777;
      background-color: #fff;
      border-top: 2px solid #4a4a4a;
      padding: 10px 15px;
      position: relative;
      box-shadow: 0 3px 9px -2px #CCC;
      transition: all .1s ease;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;
      &:hover {
        box-shadow: 0 3px 9px 0 #CCC;
        transition: all .1s ease;
      }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        height: 120px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        height: 120px;
      }
      @media screen and (max-width: 767px) {
        height: 110px;
      }
      @media screen and (max-width: 370px) {
        height: 120px;
      }
    }
    h5 {
      font-size: 13px;
      color: #999;
      margin-top: 0;
      margin-bottom: 3px;
      position: absolute;
      text-shadow: 1px 1px 1px #fff;
      @media (max-width: 1199px) {
        font-size: 12px;
        margin-bottom: 2px;
      }
    } 
    .home-event-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-self: center;
      max-width: 62%;
      height: 100%;
      padding-top: 17px;
      .home-event-p1 {
        font-size: 13px;
      }
      h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: .9em;
        margin-top: 0;
        margin-bottom: 2px;
        text-shadow: 1px 1px 1px #fff;
      }
      .home-event-p2 {
        font-size: 13px;
        margin-bottom: 1px;
      }
      p {
        margin-bottom: 0;
        line-height: 1.1em;
        text-shadow: 1px 1px 1px #fff;
      }
      .home-event-span {
        display: inline-block;
        background-color: #f40b0b;
        color: #f9f9f9;
        font-size: 11px;
        padding: 3px 15px;
        text-transform: uppercase;
        text-align: center;
      }
      @media (max-width: 1199px) {
        width: 50%;
      }
    }
  }
}
