.col-lg-4 .mz-featured-imageblock {
  margin-left: 2px;
}
*, *:before, *:after {
  box-sizing: border-box !important;
}
.mz-featured-imageblock {
  position: relative;
  display: block;
  border: none;
  margin-bottom: 2px;
  height: 224px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media all and (min-width: 768px) {
    &.mz-imageblock-hero {
      height: 450px;
    }
  }
  /* large screen / retina display */
  @media only screen and (min-width : 1700px) {
    height: 349px;
    &.mz-imageblock-hero {
      height: 700px;
    }
  } 
  h2 {
    font-weight: 200;
    font-size: 40px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    color: #f9f9f9;
  }
  .featured-image-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 45%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(45%,rgba(0,0,0,0.32)), color-stop(100%,rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 45%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
    transition: all 0.5s ease;
  }
  &:hover .featured-image-shadow {
    height: 90%;
    transition: all 0.5s ease;
  }
  .mz-text-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 15px;
    color: #fff;
    .sponsored-title-home {
      color: #fff;
      font-size: 18px;
      line-height: 1em;
      font-weight: 400;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
  .mz-text-overlay-side {
    .sponsored-title-home {
      color: #fff;
      font-size: 14px;
      line-height: 1em;
      font-weight: 400;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: inline-block;
    }
    h2 {
      font-weight: 300;
      font-size: 20px;
      color: #f9f9f9;
    }
  }
}

.themes {
	li {
		list-style-type: none;
	}
	margin-left:30px;
	margin-top:9px;
	a {
		strong {
			color:@red;
			width:160px;
			display: inline-block;
			text-align: right;
		}
		color:@link-color;
	}
}

.featured {
	height:115px;
	margin-left:30px;
	.img {
		.pull-left;
		width:125px;
	}
	.blurb {
		.pull-right;
		width: 485px;
		margin:0px;
		h3 {
			padding:0px;
		}
		p {
			padding:0px;
			small {
				margin-top:5px;
				display:block;
			}
		}
		.trending {
			color:@link-color;
			text-transform: uppercase
		}
	}
}

.home-sponsor-ad {
	margin-top: 30px;
	margin-bottom: 30px;
}

.home .span8 .carousel {
	margin-top: 30px;
}

.sub-banner {
	margin-top:8px;
	margin-bottom:20px
}

.leaderboard {
	margin:10px 0 0 0;
}

.Thumbnail {
	display:block;
}

.home-banner {
	margin-top: 10px;
}

// Shed deal of the week
.home .new-dotw {
	margin-top:25px;
}

.faire {
	background-color: #C8EFFF;
	background-image: inherit;
	.faire-header {
		background-image: url( ../img/faire-header.jpg );
		height: 157px;
	}
}

.ytv-canvas {
	margin: 10px 0 0 !important;
	height: 350px;
}

.spacer {
	height: 20px;
}

.home-ads {
	max-height: 250px;
}
