body { overflow-x: hidden; }
header.universal-nav {
  position: relative;
  background: #fff;
}
.nav-level-1 {
  height: 75px;
  position: relative;
  @media screen and (max-width: 767px) {
    height: 55px;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 11;
	top: 0px;
	box-shadow: 1px 1px 10px #666;
  }
  nav.container, .nav-level-1-nav, .nav-level-1-auth, li {
    height: 100%;
  }

  .nav-level-1-nav {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 170px;
    padding: 0;
    list-style: none;
    display: inline-block;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      margin-left: 98px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-left: 100px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
    li {
      display: inline;
      float: left;
      position: relative;
      &:nth-child(4) {
        margin-left: 180px;
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          margin-left: 166px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          margin-left: 134px;
        }
      }
      a {
        padding: 0 23px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: stretch;
        span {
          color: #333;
          opacity: .6;
          line-height: 1em;
          padding-top: 1px;
        }
        &:hover, &:active {
          text-decoration: none;
          span {
            opacity: 1;
            text-decoration: none;
          }
        }
        span::after {
          display: block;
          content: attr(title);
          height: 1px;
          color: transparent;
          overflow: hidden;
          visibility: hidden;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          padding: 0 19px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          padding: 0 7px;
          font-size: 14px;
        }
      }
      .nav-level-2-arrow {
        opacity: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #333;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: opacity 0.1s ease-in-out;;
      }
      &.active-site {
        a span{
          opacity: 1;
        }
        .nav-level-2-arrow {
          opacity: 1;
        }
      }
    }
  }
  
  .navbar-brand {
    width: 134px;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 120px;
    }
    @media screen and (max-width: 767px) {
      width: 90px;
    }
  }
}
.nav-level-1-auth {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  float: right;
  position: absolute;
  right: 130px;
  @media screen and (max-width: 1200px) {
    right: 8%;
  }
  @media screen and (max-width: 576px) {
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
  }
  li {
    display: inline-block;
    float: left;
    button {
      border: none;
      background: transparent;
      color: #333;
      opacity: .6;
      padding: 0 5px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: stretch;
      font-size: 14px;
      &:hover, &:active {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  .btn:active, button:active, .btn:focus, button:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
  }
  #profile-view {
      #dropdownMenuLink {
          position: relative;
          z-index: 1002;
          @media screen and (max-width: 576px) {
              width: 200px;
          }
          &:active {
              box-shadow: none;
              -webkit-box-shadow: none;
          }
      }
      @media screen and (min-width: 768px) {
          margin-top: 10px;
      }
      @media screen and (max-width: 576px) {
              margin-left: -55px;
              padding-left: 65px;
      }
      .avatar {
        display: none;
        &:hover {
          opacity: .8;
        }
      }
      .dropdown-menu {
          padding: 90px 25px 25px;
          font-family: 'Roboto', serif;
          margin-left: -125px;
          margin-top: -70px;
          width: 660px;
          border-radius: none;
          @media screen and (max-width: 576px) {
              margin-left: 25px;
              padding-left: 55px;
              width: 400px;
          }
          &:after {
            font-family: 'Linearicons-Free';
            content: "\e870";
            color: #ED1C24;
            font-size: 36px;
            position: absolute;
            top: 30px;
            left: 35%;
            border: none;
            @media screen and (min-width: 568px) and (max-width: 768px) {
                display: none;
            }
          }
          h3 { 
              margin-top: 0px; 
              margin-bottom: 20px;
              display: block;
              position: relative;
              line-height: .8em;
              color: #333;
              padding-bottom: 2px;
              opacity: .85;
              font-size: 20px;
              font-weight: 500;
              font-family: 'Roboto', serif;
              transition: font-weight .1s ease-in-out;
              line-height: 1em;
              display: inline;
              position: relative;
              overflow: hidden;
              &:after {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  left: 0;
                  right: 50%;
                  bottom: -5px;
                  background: #ED1C24;
                  height: 4px;
                  transition-property: left right;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;
                }
                @media screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 18px;
                }
                @media screen and (min-width: 576px) and (max-width: 767px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 576px) {
                    margin-top: 35px;
                    display: block;
                    overflow: visible;
                }
          }
          a {
              color: #333;
              display: block;
              margin-bottom: 15px;
              margin-top: 20px;
              opacity: .6;
              font-size: 16px;
              &:hover {
                  opacity: 1;
              }
          }
      }
  }
}

@media screen and (max-width: 767px) {
    #page-content .front-page.container{
        margin-top: 55px;
    }
}