.article-body .jp-relatedposts, .article-body #jp-relatedposts {
	a { border-bottom: 0px; }
   h3.jp-relatedposts-headline {
		width: 100%;
		text-align: center;
		color: #6d6d6d;
		font-size: 19px !important;
		font-family: 'Roboto Light' !important;
		border-top: 1px solid #e3e3e3;
		padding: 15px 0px 20px;
		margin: 0px !important;
		em {
			font-style: normal;
			&::before {
				margin: 0px;
				border: 0px;
			}
		}
	}
	.jp-relatedposts-items {
		display: flex;
		.jp-relatedposts-post {
			width: 25% !important;
			padding-right: 20px;
			@media screen and (max-width: 1200px) {
				width: 33% !important;
				&:last-of-type {
					display: none !important;
				}
			}
			@media screen and (max-width: 640px) {
				padding-right: 0px;
			}
			.jp-relatedposts-post-title {
				padding: .5em 0 0;
				text-align: center;
				a, a:hover, a:focus, a:visited {
					text-decoration: none;
					color: #6d6d6d;
					font-size: 16px;
					font-family: "Open Sans";
					width: 100%;
				}
				&:hover { text-decoration: none; }
			}
		}
		@media screen and (max-width: 480px) {
			flex-direction: column;
			width: 100% !important;
			.jp-relatedposts-post {
				width: 100% !important;
				.jp-relatedposts-post-a {
					img { width: 100%; }
				}
			}
		}
	}
}