.search {
	#custom-search-input{
		padding: 3px;
		border: solid 1px #E4E4E4;
		border-radius: 6px;
		background-color: #fff;
	}
	#custom-search-input input{
		border: 0;
		box-shadow: none;
	}
	.input-group-btn {
		width: 150px !important;
		border-left: solid 1px #ccc;
		@media (max-width: 767px) {
			width: initial !important;
		}
	}
	.checkbox-inline {
		@media (max-width: 767px) {
			display: block;
			margin-left: 10px;
		}
	}

	#custom-search-input button{
		margin: 2px 0 0 0;
		background: none;
		box-shadow: none;
		border: 0;
		color: #666666;
		padding: 0 8px 0 10px;
		text-align: center;
	}

	#custom-search-input button:hover{
		border: 0;
		box-shadow: none;
	}

	h1 {
		@media (max-width: 767px) {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 9vw !important;
		}
	}

	.search-results {
		.count {
			padding: 10px;
			font-size: 17px;
			color: #898989;
			@media (max-width: 767px) {
				padding: 0;
			}
			.bold {
				font-weight: bold;
				color: #464646;
			}
			&.bottom {
				clear: both;
			}
			.pull-right {
				@media (max-width: 767px) {
					clear: both;
				}
			}
		}
		article {
			padding: 0px 10px;
			a.pull-left {
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			h2 {
				font-size: 22px;
				line-height: 120%;
				margin-top: -2px;
				margin-bottom: 5px;
			}
			.search-thumb {
				max-width:110px;
			}
			.meta, .media-body {
				font-size: 17px;
				line-height: 140%;
			}
		}
	}
	.results_count {
		margin: 20px 0;
		float: left;
		@media (max-width: 767px) {
			margin: 5px 0;
			float: right;
		}
	}
	.pagination {
		@media (max-width: 767px) {
			margin: 5px 0;
		}
	}
}