// Reviews landing page

.page-template-page-review-landing-page {
	.col-xs-12{ padding: 0px; }
	.grid-wrapper {
		background: #fff;
		border-radius: 3px;
		padding: 10px 30px 20px;
		margin-bottom: 50px;
		.tool-guide-grid {
			display: grid;
			grid-template-columns: auto auto auto;
			text-align: center;
			@media (max-width: 767px) {
				grid-template-columns: auto auto;
			}
		}
	}
}
