/**
 * Single Review Header
 */
.review-title {
	text-shadow: 2px 0 4px rgba(0,0,0, .15);
	font-size: 72px;
	font-weight: 300;
	line-height: .9em;
	color: #333;
	margin-bottom: 0;
	width: ~"calc(100% - 332px)";

	@media (max-width: 767px) {
	  font-size: 8vw;
	  width: 100%;
	  margin-bottom: 10px;
	}

}


.review-nav {
	border: 0;
	border-radius: 0;
	margin-bottom: @spacer;
	min-height: 0;

	.nav {
		margin: 0;
		width: 100%;

		@media screen and (min-width: @mq-sm-min) {
			display: block;
			border-bottom: 0;
			height: auto;
			padding-right: 0;
		}

		.review-nav-mag {
			width: 302px;
			border-bottom: 1px solid #e3e3e3;
			position: relative;
			display: block;
			float: right;
			margin-right: 0;

			// Issue modal pop up button
			.modal-capture-btn {
				position: relative;
				margin-top: -60px;
				padding:42px 5px 11px 100px;
				font-size: 12px;
				font-weight: 700;
				white-space: normal;
				text-align: left;
				overflow: hidden;

				&:before {
					content: none;
				}

				img {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					margin: 5px;
					height: auto;
					box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
				}
			}
		}

		> a, button {
			display: block;
			height: auto;
			padding: 0 0 5px 0;
			font-size: 16px;
			line-height: 1.2;
			white-space: nowrap;
			background: transparent;
			box-shadow: none;
			transition: all 150ms ease;
			text-shadow: none;
			border: 0;
			text-transform: none;
			color: #4A4A4A;

			@media screen and (max-width: 767px) {

			}

			&:hover,
			&:active,
			&:focus {
				border-bottom: 0;
				color: #9B9B9B;
				&:before {
					height: 6px;
					@media screen and (min-width: @mq-sm-min) {
						display: none;
					}
				}
			}

			&.dropdown-toggle {

				&:before {
					@media screen and (max-width: @mq-xs-max) {
						height: 0;
					}
				}

				&:after {
					//@media screen and (max-width: @mq-xs-max) {
						position: relative;
						top: -1px;
						padding-left: 5px;
						font-size: .8em;
						font-family: 'FontAwesome';
						content: "\f078";
						@media screen and (min-width: @mq-sm-min) {
							font-size: .7em;
						}
					//}
				}
			}
		}

		a {
			span {
				color: #25ABE2;
			}
		}
	}
}

.review-nav-btns {
	margin:0 @spacer;
	padding: 0 5px;

	.btn {
		background: transparent;
		border: 1px solid @aqua-mid;
		text-transform: uppercase;
		padding: 4px 12px;
		outline: 0;

		&:hover,
		&:focus,
		&:active {
			color: white;
			background: @aqua-dark;
		}

	}

}