/**
 * Single Review Header
 */
.review-title {
	text-shadow: 2px 0 4px rgba(0,0,0, .15);
	font-size: 72px;
	font-weight: 300;
	line-height: 1em;
	color: #333;
	margin-bottom: 0;
	width: ~"calc(100% - 332px)";
	@media (min-width: 768px) and (max-width: 991px) {
		width: 66.6%;
	}
	@media (max-width: 767px) {
	  font-size: 8vw;
	  width: 100%;
	  margin-bottom: 10px;
	}

}


.review-nav {
	border: 0;
	border-radius: 0;
	margin-bottom: 25px;
	min-height: 0;
	@media (max-width: 767px) {
		margin-bottom: 0;
	}

	.review-nav-choosing {
		display: inline-block;
		a {
			color: #4A4A4A;
			transition: all 150ms ease;
			&:first-child {
				margin-right: 30px;
			}
			span:first-child {
				color: #1490d4;
			}
		}
		@media (max-width: 767px) {
			display: flex;
			margin-left: -5px;
			margin-right: -5px;
			margin-top: 15px;
			a,
			button {
				flex: 1;
				background-color: #fff;
  			border-radius: 5px;
  			padding: 12px 0;
  			margin-left: 5px;
  			margin-right: 5px;
  			text-align: center;
  			font-size: 16px;
  			font-weight: 300;
  			color: #1490d4;
				box-shadow: 0 3px 9px -2px #CCC;
				transition: all .1s ease;
				border: none;
	  		&:hover {
	  			box-shadow: 0 3px 9px 0 #CCC;
	  			transition: all .1s ease;
	  		}
  			&:first-child {
  				margin-right: 5px;
  			}
  			i {
  				display: none;
  			}
			}
		}
	}

	.review-nav-mag {
		width: 302px;
		border-bottom: 1px solid #e3e3e3;
		float: right;
		margin-top: -5px;
		@media (min-width: 768px) and (max-width: 991px) {
			width: 33.3%;
		}
		@media (max-width: 767px) {
			width: 100%;
		  border-bottom: none;
		  float: none;
		  margin-top: 0;
		}

		// Issue modal pop up button
		.modal-capture-btn {
			position: relative;
			margin-top: -60px;
			padding:42px 5px 11px 100px;
			font-size: 12px;
			font-weight: 700;
			white-space: normal;
			text-align: left;
			overflow: hidden;
			text-transform: none;
			color: #4A4A4A;
			transition: all .1s ease;
			border: none;
  		background: none;
  		@media (max-width: 767px) {
  			box-shadow: 0 3px 9px -2px #CCC;
  			background-color: #fff;
  			border-radius: 5px;
  			padding: 12px 0;
  			text-align: center;
  			font-size: 16px;
  			font-weight: 300;
  			width: 100%;
  			margin-top: 0;
	  		&:hover {
	  			box-shadow: 0 3px 9px 0 #CCC;
	  			transition: all .1s ease;
	  		}
  			span {
  				color: #f2cf5a;
  				font-size: 18px;
  			}
  		}

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 80px;
				margin: 5px;
				height: auto;
				box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
}

.review-nav-btns {
	margin:0 @spacer;
	padding: 0 5px;

	.btn {
		background: transparent;
		border: 1px solid @aqua-mid;
		text-transform: uppercase;
		padding: 4px 12px;
		outline: 0;

		&:hover,
		&:focus,
		&:active {
			color: white;
			background: @aqua-dark;
		}

	}

}