* {
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12px;
}
.navbar-default {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
}
.navbar-collapse {
  padding-top: 25px;
}
.navbar-toggle.collapsed {
  margin-top: 20px;
  margin-bottom: 0;
}
.row {
  margin-top: 10px;
}
.mz-logo {
	padding-top: 10px;
	padding-left: 10px;
}
.page-banner {
	margin: 0;
	padding: 0;
	height: 40px;
}
.stand-out {
	margin-left: 6px;
	margin-right: 6px;
}
.red {
	color: #ff0000;
}
.mz-tag {
	padding-top: 1px;
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
.align-nav-icons {
	margin-top: 45px;
	margin-bottom: 3px;
}
.mz-search {
	margin-top: 45px;
	margin-bottom: 3px;
}
.mz-social {
	margin-top: 43px !important;
	margin-bottom: 0px !important;
	margin-left: 0;
	padding-left: 0;
}
.social-button {
	padding: 0;
}
.panel {
	background-color: #ffffff;
	padding: 0;
}
.make-border {
	border-width: 1px;
	border-style: outset;
	border-color: #bbbbbb;
}

.subscribe {
	height:38px;
}
.subscribe h6 {
	margin-top:0px;
	color: black;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 400;
	line-height: 11px;
}
.subscribe h6 a {
	text-decoration:none;
	color: inherit;
}
.subscribe h6 a:hover {
	background:none;
}
.page-banner {
	height:38px !important;
}
.top-nav {
	height:38px;
}
.top-nav h6 {
	margin-top:13px;
	margin-bottom:13px;
	color: #373737;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.social-button {
    padding: 0;
    margin-right: 6px;
    width: 27px;
    height: 27px;
}
.mz-search {
    width: 34px !important;
    padding: 0 !important;
    margin-left: 99px;
	margin-top: 43px !important;
}
.navbar-default {
	height:86px;
}
.navbar-default .row {
	height:86px;
}
.navbar-default .logo-text {
	height: 54px !important;
	width: 166px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.navbar .nav {
	margin: 23px 10px 0px 0 !important; 
}
.container.header {
	height:86px;
	margin-bottom: 39px;
	border-radius:0px !important;
}
.mz-logo {
    padding-top: 0px !important;
}
.mz-tag {
	color: black;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
}
ul.sub-menu {
	display:none;
	background:#E6E6E6;
	padding: 0 !important;
}
.navbar .nav > li > a {
	color: black !important;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
	padding: 10px 0px 7px 0px !important;
    margin-left: 10px;
    margin-right: 26px;
	height: 36px;
}
.navbar .nav > li > ul.sub-menu > li {
	display:inline-block;
	height: 32px;
	margin-left: 30px;
}
.navbar .nav > li > ul.sub-menu > li > a{
	font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    text-transform: uppercase;
	vertical-align: -webkit-baseline-middle;
}
.navbar .nav > li > ul.sub-menu > li > a:hover{
	background:none;
}
.navbar .nav > li > ul.sub-menu > li > a:after {
	content:"";
}
.navbar .nav > li > a:hover {
	border-bottom:6px solid #F40B0B;
}
.navbar .nav > li:first-child {
	width:95.25px !important;
}
.navbar .nav > li:nth-child(3){
	width:80.3906px !important;
}
.navbar .nav > li:nth-child(4){
	width:67.5px !important;
}
.navbar .nav > li.menu-item-has-children a:after {
	color: #262626;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    content: "\f107";
	margin-left:2px;
	position: absolute;
}
.navbar .nav > li.menu-item-has-children:hover {
	width:inherit;
}
.navbar .nav > li:nth-child(1).menu-item-has-children:hover > ul.sub-menu {
	display: block;
    list-style: none;
    height: 39px;
    margin-top: 1px;
    border-top: none;
    border-bottom: 6px solid #F40B0B;
    width: 1170px;
    margin-left: -182px;
}
.navbar .nav > li:nth-child(1).menu-item-has-children:hover > ul.sub-menu > li:first-child {
	margin-left:30px;
}
.navbar .nav > li:nth-child(3).menu-item-has-children:hover > ul.sub-menu {
	display: block;
    list-style: none;
    height: 39px;
    margin-top: 1px;
    border-top: none;
    border-bottom: 6px solid #F40B0B;
    width: 1170px;
    margin-left: -360px;
}
.navbar .nav > li:nth-child(4).menu-item-has-children:hover > ul.sub-menu {
	display: block;
    list-style: none;
    height: 39px;
    margin-top: 1px;
    border-top: none;
    border-bottom: 6px solid #F40B0B;
    width: 1170px;
    margin-left: -440px;
}
.navbar .nav > li > ul.sub-menu > li:first-child {
	margin-left: 191px;
}
.mz-social a:hover {
	opacity: 0.3;
	background:none;
}
.mz-search img:hover{
	opacity:0.3;
	cursor:pointer;
}
@media only screen and (min-width: 1200px){
.subscribe {
	width: 12.9% !important;
}
}