/**
 * Single Product Review Loop Item
 */

.reviews-item {
	display: flex;
	align-items: stretch;
	background: white;
	margin: @spacer 0;
	box-sizing: border-box;
	box-shadow: 0 3px 9px -2px #CCC;
	position: relative;

  &.reviews-model {
		display: none;
  }

}

// Review link
.ri-link {
	transition: all 200ms;
	color: @black-alt;

	&:hover,
	&:focus,
	&:active {
		outline: 0;
		color: @grey-mid;
	}
}

// The feature image section
.ri-feature-image {
	width: 20%;
	flex-basis: 20%;
	float: left;
	min-height: 110px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid @review-item-border;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	@media (max-width: 767px) {
		width: 30%;
		flex-basis: 30%;
	}

	// Case: Winner Items make room for winner meta at the bottom
	.winner & {
		@media screen and (min-width:@mq-sm-min) {
			margin-bottom: 0;
		}
	}

	// The feature image
	img {
		width: auto;
		max-height: 120px;
	}

	// Badge cell
	.ri-badge {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 60px;
	  height: 60px;
	  z-index: 1;
	  .winner & {
			&.printers {
			  background: transparent url("@{reviews-template-url}/img/badge-winner-3dprinters.png") center no-repeat;
			  background-size: 100%;
			}
		  &.drones {
			  background: transparent url("@{reviews-template-url}/img/badge-winner-drones.png") center no-repeat;
			  background-size: 100%;
			}
			&.boards {
			  background: transparent url("@{reviews-template-url}/img/badge-winner-boards.png") center no-repeat;
			  background-size: 100%;
			}
	  }
	}
}

.ri-info-parent {
	width: 80%;
	flex-basis: 80%;
	@media (max-width: 767px) {
		width: 70%;
		flex-basis: 70%;
	}
}

// title and recommendation
.ri-details {
	width: 63%;
	flex-basis: 63%;
	float: left;
	padding: 20px 0 20px 20px;

	// Review item title
	.ri-item-title {
		font-size: 20px;
		color: @black-alt;
		line-height: 1.1em;
		font-weight: @font-light;
		margin-top: 0;
		margin-bottom: 3px;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	.ri-type {
		font-size: 14px;
		color: #999;
		font-weight: 300;
		margin-bottom: 4px;
	}

	// Review item recommendation
	.ri-item-meta {
		font-size: 12px;
		color: #1490D4;
		font-weight: 400;
		display: none;
		line-height: 1em;
		span {
			color: #777;
		}
		@media (max-width: 767px) {
			position: absolute;
		  bottom: 0;
		  left: 0;
		  padding: 5px 10px 5px 65px;
		  background-color: rgba(255,255,255,.65);
		}

		// Case: Show the winner meta for winners only
		.winner & {
			display: block;
		}
	}
	@media (max-width: 767px) {
		width: 100%;
		flex-basis: 100%;
		float: none;
		padding: 10px;
	}
}


// Score and Price cell
.ri-score-price {
	width: 37%;
	flex-basis: 37%;
	float: left;
	padding: 10px 10px 10px 0;
	.ri-score-price-flex {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		> div {
			flex-basis: 50%;
			padding: 10px;
			text-align: center;
		}
		.ri-score,
		.ri-price {
			span {
				border-left: 1px solid @review-item-border;
				display: block;
			}
		}
		.ri-more-info {
			a {
				//font-size: 12px;
				color: #1490D4;
				font-weight: 400;
			}
		}
		.ri-buy-now {
			a {
				//font-size: 12px;
				color: #fff;
				font-weight: 400;
				background: #1490d4;
  			padding: 5px;
  			@media (max-width: 767px) {
  				font-size: 11px;
  				white-space: initial;
  			}
			}
		}
	}
	@media (max-width: 767px) {
		width: 100%;
		flex-basis: 100%;
		float: none;
		padding: 0 0 10px;
		.ri-score-price-flex {
			flex-wrap: nowrap;
			> div {
				padding: 0 0 0 10px;
				flex-basis: 25%;
				text-align: left;
				max-height: 40px;
			  overflow: hidden;
			  margin-bottom: 26px;
			  &:last-child {
			  	padding-right: 10px;
			  }
			}
			.ri-score,
			.ri-price {
				border-right: 1px solid #DCD8D8;
				span {
					border-left: none;
				}
				small {
					color: #999;
				}
			}
		}
	}
}

