@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
.all-stories h1 {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  padding-left: 15px;
}
.all-stories .all-post-wrapper {
  margin-right: 45px;
}
.all-stories .post-list {
  margin: 0 0 10px;
}
.all-stories .post-list li.post {
  list-style-type: none;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.all-stories .post-list li.post img {
  width: 100%;
}
.all-stories .post-list li.post .post-wrapper {
  position: relative;
  margin-bottom: 18px;
  display: flex;
}
.all-stories .post-list li.post .large-card div.gradient-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.all-stories .post-list li.post .large-card .gradient_animation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  opacity: 1;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 55%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(55%, rgba(0, 0, 0, 0.5)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 55%, black 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 55%, black 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 55%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 55%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
  transition: all 0.33s ease;
}
.all-stories .post-list li.post .large-card .gradient_animation a {
  display: block;
  height: 100%;
}
.all-stories .post-list li.post .large-card .final_gradient {
  opacity: 0;
  transition: opacity 0.12s ease 0.33s;
}
.all-stories .post-list li.post .large-card .final_gradient a {
  display: block;
  height: 100%;
}
.all-stories .post-list li.post .large-card:hover .gradient_animation {
  height: 100%;
  opacity: 1;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(45%, rgba(0, 0, 0, 0.32)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.32) 45%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.all-stories .post-list li.post .large-card:hover .final_gradient {
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 1;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.32) 45%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(45%, rgba(0, 0, 0, 0.32)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.32) 45%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.32) 45%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.32) 45%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.32) 45%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.all-stories .post-list li.post .large-card .story-type a {
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.all-stories .post-list li.post .large-card .title {
  margin-bottom: 7px;
}
.all-stories .post-list li.post .large-card .title a {
  color: white;
  font-family: 'Roboto Slab';
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}
.all-stories .post-list li.post .large-card .about-post {
  position: absolute;
  left: 21px;
  bottom: 15px;
}
.all-stories .post-list li.post .large-card .publish-date a {
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.all-stories .post-list li.post .small-card {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.all-stories .post-list li.post .small-card img {
  height: 187px;
}
@media (max-width: 1200px) {
  .all-stories .post-list li.post .small-card img {
    height: 147px;
  }
}
.all-stories .post-list li.post .small-card .about-post {
  padding: 14px 9px;
}
@media (max-width: 1200px) {
  .all-stories .post-list li.post .small-card .about-post {
    padding: 14px 9px 34px;
  }
}
.all-stories .post-list li.post .small-card .about-post .story-type a {
  color: #666;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}
.all-stories .post-list li.post .small-card .about-post .title {
  line-height: 22px;
}
@media (max-width: 1200px) {
  .all-stories .post-list li.post .small-card .about-post .title {
    font-size: 15px;
    line-height: 18px;
  }
}
.all-stories .post-list li.post .small-card .about-post .title a {
  color: #4a4a4a;
  font-family: 'Roboto Slab';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
@media (max-width: 1200px) {
  .all-stories .post-list li.post .small-card .about-post .title a {
    font-size: 15px;
    line-height: 18px;
  }
}
.all-stories .post-list li.post .small-card .about-post .publish-date a {
  color: #9b9b9b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
  position: absolute;
  bottom: 15px;
}
.all-stories .post-list li.post .small-card .wrapp {
  background-color: #FFF;
  position: relative;
  min-height: 373px;
}
.all-stories .post-list li.post .small-card .wrapp .story-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.all-stories .post-list li.post .red-box-category p {
  margin-top: 3px;
}
.all-stories .post-list li.post .red-box-category .dies {
  padding-right: 10px;
  font-size: 18px;
}
.all-stories .post-list li.post .red-box-category span.cat_name {
  margin-bottom: 3px;
}

#blog-load-posts {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #FFF;
}
#blog-load-posts a {
  text-transform: uppercase;
  display: block;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}
#blog-load-posts a:hover {
  text-decoration: none;
}
#blog-load-posts:hover {
  background-color: #4A4A4A;
}
#blog-load-posts:hover a {
  color: #FFF;
}
